body
{
    background: greenyellow;
}
.d1
{
    background: grey;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
}
button
{
    background: lightgrey;
}
.srodek
{
    margin: 15px 15px 15px 15px;
    text-align: left;
}
.blok
{
    background: lightgrey;
    border: 1px solid black;
    border-radius: 0 20px 0 0;
    margin: 10px 0 0 0;
}
input
{
    margin: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    background: lightgrey;
    border: 1px solid black;
}
a
{
    text-decoration: none;
    color: black;
    text-align: center;
    background: lightgrey;
    border: 1px solid black;
}
.dwa
{
    text-decoration: none;
    color: black;
    float: left;
    height: 25px;
    width: 25px;
    text-align: center;
    background: lightgrey;
    border: 1px solid black;
    margin: 5px;
}
.blok a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    background: lightgrey;
    float: right;
    height: 30px;
    width: 100px;
    border: 1px solid black;
}
input[type=submit]
{
    margin: -0.48px 0 0 0;
    float: center;
    height: 25px;
    width: 120px;
    text-decoration: none;
    color: black;
    text-align: center;
    background: lightgrey;
    border: 1px solid black;
}
input[name="usun"]
{
    margin: -0.48px 0 0 0;
    float: right;
    height: 32px;
    font-size: 20px; 
}
.trzy
{
    margin-left: auto;
    margin-right: auto;
}